<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Панель управления{% endblock %}</title>
    <link rel="stylesheet" href="/static_bootstrap/css/bootstrap.min.css">
</head>
{% include 'header.html' %}

<body>
<div class="container my-4 text-center">
    <h1 class="mb-4 fw-semibold" style="color: #8A2BE2; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
        {% block header %}Привет! Это сайт управления твоими рассылками!{% endblock %}
    </h1>

    {% block content %}
    {% endblock %}

</div>

{% include 'footer.html' %}

<script src="/static_bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>