{% extends 'base.html'%}

{% block title %}Список рассылок{% endblock %}

{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Список рассылок</h1>
    <a class="p-2 btn" style="background-color: #9370DB;" href="{% url 'mailings:campaign_form' %}">Добавить рассылку</a>

    {% if object_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Сообщение</th>
                    <th>Статус</th>
                    <th>Дата и время первой отправки</th>
                    <th>Дата и время окончания отправки</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ campaign.message }}</td>
                    <td>{{ campaign.status }}</td>
                    <td>{{ campaign.start_time }}</td>
                    <td>{{ campaign.end_time }}</td>
                        <td><a href="{% url 'mailings:campaign_detail' campaign.pk %}" class="btn btn-lg btn-block btn-outline-secondary">Просмотр</a></td>
                        <td><a href="{% url 'mailings:campaign_statistics_detail' campaign.pk %}" class="btn btn-lg btn-block btn-outline-secondary">Отчет</a></td>
                        {% if perms.mailings.can_finish_campaign or user.is_superuser %}
                            <td><a href="{% url 'mailings:finish_campaign' campaign.pk %}" class="btn btn-lg btn-block btn-outline-secondary">Завершить</a></td>
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет рассылок.</p>
    {% endif %}
</div>

{% endblock %}

