<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class="fixed-bottom bg-light border-top py-3">
  <div class="container d-flex justify-content-center gap-3">
    {% if user.is_authenticated %}
      <!-- Если пользователь авторизован, показываем кнопку выхода -->
      <a href="{% url 'users:user_detail' token=user.token %}" class="btn" style="background-color: #17A2B8; color: white;">Мой профиль</a>
      <form method="post" action="{% url 'users:logout' %}">
        {% csrf_token %}
        <button class="btn" style="background-color: #17A2B8; color: white;">Выход</button>
      </form>
    {% else %}
      <!-- Если не авторизован, показываем вход и регистрацию -->
      <a href="{% url 'users:login' %}" class="btn" style="background-color: #17A2B8; color: white;">Вход</a>
      <a href="{% url 'users:register' %}" class="btn" style="background-color: #138496; color: white;">Регистрация</a>
      <a href="{% url 'users:password_reset_form' %}" class="btn" style="background-color: #17A2B8; color: white;">Забыли пароль?</a>
    {% endif %}
  </div>
</div>
</footer>