<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключить навигацию">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-5">
        <!-- Выпадающее меню -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Меню
          </a>
          {% if user.is_authenticated %}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'mailings:recipient_list' %}">Получатели</a></li>
            {% if not perms.users.can_view_user or user.is_superuser %}
              <li><a class="dropdown-item" href="{% url 'mailings:message_list' %}">Сообщения</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'mailings:campaign_list' %}">Рассылки</a></li>
            {% if perms.users.can_view_user or user.is_superuser %}
              <li><a class="dropdown-item" href="{% url 'users:users_list' %}">Список пользователей</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </li>
      </ul>
      <a class="p-2 btn btn-outline-secondary" href="{% url 'mailings:dashboard' %}">На главную</a>
    </div>
  </div>
</nav>